<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    Введите три стороны треугольника в сантиметрах
    <br><input name="a" type="number" min="0.05" step="0.01" required> см
    <br><input name="b" type="number" min="0.05" step="0.01" required> см
    <input type="submit" value=" Рассчитать " />
    <br><input name="c" type="number" min="0.05" step="0.01" required> см

</form>
{% if p is defined%}
Для треугольника со сторонами {{a}}; {{b}}; {{c}} были посчитаны:<br>
    P: {{p}} см<br/>
{% endif %}
{% if s is defined%}
    S: {{s}} см^2
{% endif %}
{% if error_msg is defined%}
Ошибка: {{error_msg}}
{% endif %}
<br>
<a href="/list">список ранее введенных треугольников</a>
</body>
</html>