<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список треугольников</title>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
</head>
<body>

    <a href="/">На главную страницу</a>
{% if triangles|length > 0 %}
  У нас есть {{ triangles|length }} элементов!
    <table id="example" class="display" border="1">
        <thead>
        <tr><th>время сохранения</th><th>a</th><th>b</th><th>c</th><th>площадь</th></tr>
        </thead>
        <tbody>
{% for tr in triangles %}
   <tr>
       <td>{{tr[1]}}</td>
       <td>{{ tr[0].a }}</td> <td>{{ tr[0].b }}</td> <td>{{ tr[0].c }}</td> <td>{{tr[0].area()|round(2)}}</td>
   </tr>
{% endfor %}
        </tbody>
 </table>

{% else %}
  Список пуст.
{% endif %}

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js">

</script> <script> $(function(){ $("#example").dataTable(); }) </script>

</body>
</html>